 .u-section-1 {
     background-image: none;
 }
 
 .u-section-1 .u-sheet-1 {
     min-height: 1315px;
 }
 
 .u-section-1 .u-shape-1 {
     width: 1120px;
     height: 1002px;
     --animation-custom_in-translate_x: 0px;
     --animation-custom_in-translate_y: 300px;
     --animation-custom_in-opacity: 0;
     --animation-custom_in-rotate: 0deg;
     --animation-custom_in-scale: 0.3;
     margin: 60px auto 0;
 }
 
 .u-section-1 .u-image-1 {
     width: 569px;
     height: 569px;
     background-image: url("image1.png");
     background-position: 50% 50%;
     --animation-custom_in-translate_x: 50px;
     --animation-custom_in-translate_y: 0px;
     --animation-custom_in-opacity: 0;
     --animation-custom_in-rotate: 180deg;
     --animation-custom_in-scale: 0.3;
     margin: -1185px auto 0;
 }
 
 .u-section-1 .u-group-1 {
     width: 623px;
     min-height: 403px;
     --animation-custom_in-translate_x: 0px;
     --animation-custom_in-translate_y: 300px;
     --animation-custom_in-opacity: 0;
     --animation-custom_in-rotate: 0deg;
     --animation-custom_in-scale: 1;
     margin: 10px auto 80px;
 }
 
 .u-section-1 .u-container-layout-1 {
     padding: 30px;
 }
 
 .u-section-1 .u-text-1 {
     font-weight: 700;
     font-size: 3.75rem;
     margin: 0;
 }
 
 .u-section-1 .u-text-2 {
     font-size: 1.25rem;
     font-weight: 700;
     margin: 20px 0 0;
 }
 
 .u-section-1 .u-btn-1 {
     letter-spacing: 1px;
     font-size: 1rem;
     text-transform: uppercase;
     font-weight: 700;
     align-self: center;
     border-style: none;
     margin: 30px auto 0;
     padding: 21px 59px 22px;
 }
 
 @media (max-width: 1199px) {
     .u-section-1 .u-sheet-1 {
         min-height: 1301px;
     }
     .u-section-1 .u-shape-1 {
         height: 860px;
         margin-top: 359px;
         margin-right: initial;
         margin-left: initial;
         width: auto;
     }
     .u-section-1 .u-image-1 {
         margin-top: -1144px;
     }
     .u-section-1 .u-group-1 {
         width: 657px;
         min-height: 414px;
         margin-top: 0;
         margin-bottom: 60px;
     }
 }
 
 @media (max-width: 991px) {
     .u-section-1 .u-shape-1 {
         height: 826px;
         width: auto;
         margin-right: initial;
         margin-left: initial;
     }
     .u-section-1 .u-group-1 {
         width: 476px;
         min-height: 415px;
     }
     .u-section-1 .u-text-1 {
         font-size: 3rem;
     }
 }
 
 @media (max-width: 767px) {
     .u-section-1 .u-sheet-1 {
         min-height: 1232px;
     }
     .u-section-1 .u-shape-1 {
         height: 812px;
         width: auto;
         margin-right: initial;
         margin-left: initial;
     }
     .u-section-1 .u-image-1 {
         width: 540px;
         height: 540px;
     }
     .u-section-1 .u-group-1 {
         width: 349px;
         min-height: 404px;
     }
     .u-section-1 .u-container-layout-1 {
         padding-left: 10px;
         padding-right: 10px;
     }
     .u-section-1 .u-text-1 {
         font-size: 2.25rem;
     }
     .u-section-1 .u-text-2 {
         font-size: 1.125rem;
     }
 }
 
 @media (max-width: 575px) {
     .u-section-1 .u-sheet-1 {
         min-height: 1051px;
     }
     .u-section-1 .u-shape-1 {
         height: 847px;
         margin-top: 155px;
         width: auto;
         margin-right: initial;
         margin-left: initial;
     }
     .u-section-1 .u-image-1 {
         width: 340px;
         height: 340px;
         margin-top: -947px;
     }
     .u-section-1 .u-group-1 {
         width: 225px;
         min-height: 436px;
         margin-top: 20px;
         margin-bottom: 100px;
     }
     .u-section-1 .u-text-1 {
         font-size: 1.5rem;
     }
     .u-section-1 .u-text-2 {
         font-size: 1rem;
     }
 }
 
 .u-section-2 {
     background-image: none;
 }
 
 .u-section-2 .u-sheet-1 {
     min-height: 754px;
 }
 
 .u-section-2 .u-text-1 {
     font-size: 3rem;
     margin: 60px auto 0;
 }
 
 .u-section-2 .u-text-2 {
     font-size: 1.25rem;
     font-weight: 400;
     margin: 38px 100px 0;
 }
 
 .u-section-2 .u-list-1 {
     grid-template-rows: repeat(1, auto);
     margin-top: 46px;
     margin-bottom: 60px;
 }
 
 .u-section-2 .u-repeater-1 {
     grid-template-columns: repeat(4, calc(25% - 22.5px));
     min-height: 349px;
     grid-gap: 30px;
 }
 
 .u-section-2 .u-list-item-1 {
     background-image: none;
 }
 
 .u-section-2 .u-container-layout-1 {
     padding: 30px;
 }
 
 .u-section-2 .u-icon-1 {
     height: 94px;
     width: 94px;
     background-image: none;
     margin: 0 auto;
 }
 
 .u-section-2 .u-text-3 {
     letter-spacing: 2px;
     font-size: 1.25rem;
     text-transform: uppercase;
     font-weight: 700;
     margin: 23px auto 0;
 }
 
 .u-section-2 .u-text-4 {
     font-style: italic;
     margin: 20px 0 0;
 }
 
 .u-section-2 .u-list-item-2 {
     background-image: none;
 }
 
 .u-section-2 .u-container-layout-2 {
     padding: 30px;
 }
 
 .u-section-2 .u-icon-2 {
     height: 94px;
     width: 94px;
     background-image: none;
     margin: 0 auto;
 }
 
 .u-section-2 .u-text-5 {
     letter-spacing: 2px;
     font-size: 1.25rem;
     text-transform: uppercase;
     font-weight: 700;
     margin: 23px auto 0;
 }
 
 .u-section-2 .u-text-6 {
     font-style: italic;
     margin: 20px 0 0;
 }
 
 .u-section-2 .u-list-item-3 {
     background-image: none;
 }
 
 .u-section-2 .u-container-layout-3 {
     padding: 30px;
 }
 
 .u-section-2 .u-icon-3 {
     height: 94px;
     width: 94px;
     background-image: none;
     margin: 0 auto;
 }
 
 .u-section-2 .u-text-7 {
     letter-spacing: 2px;
     font-size: 1.25rem;
     text-transform: uppercase;
     font-weight: 700;
     margin: 23px auto 0;
 }
 
 .u-section-2 .u-text-8 {
     font-style: italic;
     margin: 20px 0 0;
 }
 
 @media (max-width: 1199px) {
     .u-section-2 .u-text-2 {
         width: auto;
         font-weight: 700;
         margin-top: 31px;
         margin-left: 0;
         margin-right: 0;
     }
     .u-section-2 .u-list-1 {
         margin-top: 53px;
     }
     .u-section-2 .u-repeater-1 {
         grid-template-columns: repeat(3, calc(33.3333% - 20px));
         min-height: 288px;
     }
     .u-section-2 .u-container-layout-1 {
         padding-left: 29px;
         padding-right: 29px;
     }
     .u-section-2 .u-icon-1 {
         color: rgb(255, 255, 255) !important;
         margin-left: 70px;
         padding: 9px;
     }
     .u-section-2 .u-text-3 {
         width: auto;
         margin-top: 31px;
         margin-left: 23px;
         margin-right: 23px;
     }
     .u-section-2 .u-text-4 {
         width: auto;
         margin-top: 12px;
         margin-right: 3px;
     }
     .u-section-2 .u-container-layout-2 {
         padding-left: 29px;
         padding-right: 29px;
     }
     .u-section-2 .u-icon-2 {
         color: rgb(255, 255, 255) !important;
         margin-left: 70px;
         padding: 9px;
     }
     .u-section-2 .u-text-5 {
         width: auto;
         margin-top: 31px;
         margin-left: 23px;
         margin-right: 23px;
     }
     .u-section-2 .u-text-6 {
         width: auto;
         margin-top: 12px;
         margin-right: 3px;
     }
     .u-section-2 .u-container-layout-3 {
         padding-left: 29px;
         padding-right: 29px;
     }
     .u-section-2 .u-icon-3 {
         color: rgb(255, 255, 255) !important;
         margin-left: 70px;
         padding: 9px;
     }
     .u-section-2 .u-text-7 {
         width: auto;
         margin-top: 31px;
         margin-left: 23px;
         margin-right: 23px;
     }
     .u-section-2 .u-text-8 {
         width: auto;
         margin-top: 12px;
         margin-right: 3px;
     }
 }
 
 @media (max-width: 991px) {
     .u-section-2 .u-sheet-1 {
         min-height: 1032px;
     }
     .u-section-2 .u-repeater-1 {
         grid-template-columns: repeat(2, calc(50% - 15px));
         min-height: 662px;
     }
     .u-section-2 .u-text-4 {
         margin-right: 0;
     }
     .u-section-2 .u-text-6 {
         margin-right: 0;
     }
     .u-section-2 .u-text-8 {
         margin-right: 0;
     }
 }
 
 @media (max-width: 767px) {
     .u-section-2 .u-container-layout-1 {
         padding-left: 20px;
         padding-right: 20px;
     }
     .u-section-2 .u-container-layout-2 {
         padding-left: 20px;
         padding-right: 20px;
     }
     .u-section-2 .u-container-layout-3 {
         padding-left: 20px;
         padding-right: 20px;
     }
 }
 
 @media (max-width: 575px) {
     .u-section-2 .u-text-1 {
         font-size: 2.25rem;
     }
     .u-section-2 .u-repeater-1 {
         grid-template-columns: 100%;
     }
 }
 
 .u-section-3 {
     background-image: none;
     min-height: 1202px;
 }
 
 .u-section-3 .u-shape-1 {
     height: 350px;
     margin-top: 0;
     margin-bottom: 0;
 }
 
 .u-section-3 .u-group-1 {
     width: 841px;
     min-height: 762px;
     margin: -260px auto 0 calc(((100% - 1140px) / 2));
 }
 
 .u-section-3 .u-container-layout-1 {
     padding: 32px 0;
 }
 
 .u-section-3 .u-shape-2 {
     margin-left: 0;
     margin-top: 0;
 }
 
 .u-section-3 .u-image-1 {
     width: 635px;
     height: 635px;
     background-image: url("2166050_medium2000.png");
     background-position: 50% 50%;
     margin: 19px 81px 0 auto;
 }
 
 .u-section-3 .u-form-1 {
     height: 500px;
     background-image: none;
     margin: -285px calc(((100% - 1140px) / 2)) 0 calc(((100% - 1140px) / 2) + 448px);
 }
 
 .u-section-3 .u-form-group-3 {
     margin-left: 0;
 }
 
 .u-section-3 .u-btn-1 {
     border-style: none;
     font-weight: 700;
     text-transform: uppercase;
     letter-spacing: 1px;
     width: 100%;
     background-image: none;
     padding: 17px 30px;
 }
 
 @media (max-width: 1199px) {
     .u-section-3 {
         min-height: 1238px;
     }
     .u-section-3 .u-group-1 {
         width: 711px;
         min-height: 689px;
         margin-left: calc(((100% - 940px) / 2));
     }
     .u-section-3 .u-shape-2 {
         margin-left: initial;
         margin-top: initial;
     }
     .u-section-3 .u-image-1 {
         width: 566px;
         height: 566px;
         margin-top: 20px;
         margin-right: auto;
     }
     .u-section-3 .u-form-1 {
         height: 514px;
         width: 692px;
         margin: -189px calc(((100% - 940px) / 2)) 60px calc(((100% - 940px) / 2) + 248px);
     }
 }
 
 @media (max-width: 991px) {
     .u-section-3 .u-group-1 {
         margin-left: 50px;
     }
     .u-section-3 .u-container-layout-1 {
         padding-top: 30px;
         padding-bottom: 30px;
     }
     .u-section-3 .u-form-1 {
         margin-right: 50px;
         margin-left: 78px;
     }
 }
 
 @media (max-width: 767px) {
     .u-section-3 {
         min-height: 1191px;
     }
     .u-section-3 .u-group-1 {
         width: 540px;
         min-height: 565px;
         margin-left: auto;
     }
     .u-section-3 .u-container-layout-1 {
         padding-bottom: 29px;
     }
     .u-section-3 .u-image-1 {
         width: 433px;
         height: 433px;
     }
     .u-section-3 .u-form-1 {
         width: 540px;
         margin-top: -133px;
         margin-left: auto;
         margin-right: auto;
     }
 }
 
 @media (max-width: 575px) {
     .u-section-3 {
         min-height: 1018px;
     }
     .u-section-3 .u-shape-1 {
         height: 267px;
     }
     .u-section-3 .u-group-1 {
         width: 340px;
         min-height: 373px;
         margin-top: -197px;
     }
     .u-section-3 .u-container-layout-1 {
         padding-bottom: 20px;
     }
     .u-section-3 .u-image-1 {
         width: 301px;
         height: 301px;
         margin-top: 6px;
     }
     .u-section-3 .u-form-1 {
         width: 340px;
         margin-top: -76px;
     }
 }